@model ForumWebApp.Models.Question

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4 heading-font">Delete Question Details</h1>
</div>
<hr />
<div class="row">
    <div class="card col-md-4 bg-grey  border-0">
        <img class="card-img-top img-fluid" src="~/q3.png" alt="" style="width:100%">
    </div>
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuestionTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuestionTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuestionText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuestionText)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subject.SubjectName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="QuestionID" />
            <input type="submit" value="Delete This Question" class="btn btn-danger" /> 
        </form>
    </div>
</div>
