@model IEnumerable<ForumWebApp.Models.Suggestion>

@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4 heading-font">All Suggestions</h1>
</div>
<hr />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestionDate)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestionDate)
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.SuggestionID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
