@model IEnumerable<ForumWebApp.Models.Answer>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4 heading-font">All Answers Details</h1>
</div>
<hr />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerDate)
            </th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDate)
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.AnswerID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
